*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 0px 12px whitesmoke;
}
.my-button {
    width: 140px;
    padding: 10px; 
    margin-top: 17px; 
    border: none; 
    background: none; 
    outline: none;
    font-size: 22px;
    box-shadow: 0px 8px 8px whitesmoke; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: 700px;
    display: inline-block; 
    text-align: center; 
    text-decoration: none; 
    color: #333; 
    cursor: pointer; 
    line-height: normal; 
}
.my-button:hover {
    color: blue; 
    box-shadow: 0px 0px 15px silver; 
}
header img{
    width: 50px;
    float: left;
    margin-top: 12px;
    margin-left: 8px;
}
#imo1{
    width: 100%;
    height: 800px;
}
div {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center ;  
}
div h2 {
    text-align: center;
    font-family: "Noto Sans Arabic", sans-serif;
    font-weight: bold;
    color:blue;
}
div p {
    text-align: center ;
    width: 50%;  
    font-size: 18px; 
    font-family: "Noto Sans Arabic", sans-serif;
    font-weight: 500;
}
body{
    background-color: gainsboro;
}
p{
    text-align: center;
}
.footer {
    background-color: #1f1f1f;   
    color: white;
    padding: 40px 0 10px;
    font-family: "Noto Sans Arabic", sans-serif;
    margin-top: 40px;
    direction: rtl;
}
.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.footer-section {
    flex:1;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.footer-section h3 {
    margin-bottom: 17px;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    width: 200px;
    margin: 0 auto 17px auto;
}
.footer-section p {
    line-height: 1.8;
    font-size: 16px;
    margin: 0 auto 17px auto;
}
.footer-section ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 0 auto 17px auto;
}
.footer-section ul li {
    margin-bottom: 10px;
}
.footer-section ul li a {
    color: #ddd;
    text-decoration: none;
    font-size: 16px;
}
.footer-section ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 15px;
    border-top: 1px solid #444;
}
